		<html>
			<title>Welcome!!</title>
			<head>
			 <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
			 </head>
			<body>
				<h1>Welcome to Reintendo!!!!</h1>
				<h6>There is always a second chance......</h6>

				A single point to announce and register for the retests.<br>
				<div class=centerOfPage>
				<h3>{{message}}</h3>
					<a href=/login?u=s title='For students to register for a retest'>Register for a retest</a><br>
					<a href=/login?u=t title='For teachers to announce a retest'>Announce a retest</a><br>
				</div>
			</body>
		</html>
