<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	</head>
		<title>Retest Registration Login</title>
		<h1  class=subPage>Login with the Username and Password Recieved</h1>
	<body>
		<div class=centerOfPage>
			<form action=/authenicate method=post>
				<label>Username
				<input type=text name=uname><br>
				</label>
				<label>Password
				<input type=password name=passwd>
				</label><br>
				<input type=submit value=Login>
			</form>
		</div>
	</body>
</html>

